# Local .terraform directories
**/file/ssh*
**/.terraform/*
**/.__pycache__/*
**/.terraform.lock.hcl

.terraform.lock.hcl

**/gitlab.rb
gitlab.rb

*.pyc

# .tfstate files
*.tfstate
*.tfstate.*
!bootstrap/*.tfstate

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*.tfplan

# Aiven creds
*.pem
*.cert
*.key

*.rpm
